# SPDX-License-Identifier: Apache-2.0
rsource "console/Kconfig"
rsource "serial/Kconfig"
rsource "timer/Kconfig"
rsource "gpio/Kconfig"
rsource "entropy/Kconfig"
rsource "flash/Kconfig"
rsource "display/Kconfig"
rsource "input/Kconfig"
